.modo-claro .registro {
    text-align: center;
    margin: 5rem auto 5rem auto;
    color: rgb(255, 255, 255);
    background-image: url('/public/fondo.png');
    border-radius: 1rem;
    min-height: 70vh;
    font-size: calc(10px + 2vmin);
}

.modo-oscuro .registro {
    text-align: center;
    margin: 5rem auto 5rem auto;
    color: rgb(255, 255, 255);
    background-image: url('/public/fondoOscuro.png');
    border-radius: 1rem;
    min-height: 70vh;
    font-size: calc(10px + 2vmin);
}


#tituloRegistro {
    font-size: 3rem;
    padding-top: 2rem;
}

.form-control {
    width: 20rem!important;
    margin: auto!important;
}

#btnRegistro {
    margin-bottom: 2rem;
}